:root {
    --yellow-color: #FFCE67;
    --purple-color: #7945FF;
    --dark-purple-color: #5C2DD5;
    --red-color: #FD6687;
}


body {
    background-color: var(--purple-color);
    font-size: 16px;
    font-family: "space-grotesk";
    font-weight: 400;
    margin: 0 !important;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 56px;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    color: var(--purple-color);
}

h4 {
    font-size: 16px;
    margin: 0;
}


.btn-lg,
.card {
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0px 6px 0px;
    background-color: white;
}

.btn-xs {
    border: 0 !important;
    border-radius: 1rem;
    background-color: var(--dark-purple-color);
    color: white;
    padding: 0.5rem 0;
    width: 7rem;
}

.btn-xs:hover,
.btn-lg:hover {
    cursor: pointer;
}

.card {
    padding: 1rem;
}



/* Main menu (start menu) */

#main-menu {
    padding: 35% 1rem;
    text-align: center;
    /* temp */
    /* display: none; */
}

@media (min-width: 576px) {
    #main-menu {
        background-color: var(--dark-purple-color);
        height: 100vh;
        padding: 0;
    }

    .card-lg {
        padding: 1rem;
        border: 2px solid black;
        border-radius: 1rem;
        box-shadow: 0px 6px 0px;
    }

    .menu-card-lg {
        background-color: var(--purple-color);
        width: 25rem;
        margin: 0 auto;
        padding: 2.5rem 2rem 3rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.logo {
    margin-bottom: 2.5rem;
}

.menu-btn {
    display: block;
    margin: 1rem auto 0;
    width: 100%;
    text-align: left;
    padding: 0 1rem;
}

.icon-btn {
    background-color: var(--yellow-color);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}



/* Rules overlay */

#rules-overlay {
    padding: 0 1rem;
    height: calc(98vh - 2.3rem);
    display: none;
}

@media (min-width: 576px) {
    .rules-card {
        width: 25rem;
        margin: 0 auto;
        padding: 2.5rem 2rem;
    }
}

.rules-card {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-2 {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1rem 1fr;
}

.check {
    height: 2rem;
    margin-top: 0.5rem;
}

.btn-check {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.btn-check:hover {
    cursor: pointer;
}


/* Ingame menu */

#ingame-menu {
    display: none;
    position: absolute;
    z-index: 111;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 90%;
}

@media (min-width: 576px) {
    .ingame-menu-card {
        width: 25rem;
        margin: 0 auto;
        padding: 1rem 2rem 2rem;
    }
}

.ingame-menu-card {
    background-color: var(--purple-color);
}

.ingame-menu-card h1 {
    color: white;
}

.ingame-menu-btn {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

#ingame-btn-quit {
    background-color: var(--red-color);
    box-shadow: 0px 6px 0px black;
    color: white;
}

/* .overlay {
    background: rgba(0, 0, 0, 0.7)
} */


/* Game board */

#game-board {
    display: none;
}

.game-section {
    padding: 0 2rem;
}

.top-section,
.players-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    text-align: center;
}

@media (min-width: 576px) {

    .top-section,
    .players-section {
        margin: 2rem auto;
        width: 39.5rem;
    }
}

@media (min-width: 1200px) {
    .top-section {
        margin: 2rem auto 0;
    }

    .players-section {
        height: 0;
        width: 65rem;
        margin: 0 auto;
    }
}

.ingame-logo {
    width: 3rem;
}

.players-section {
    padding: 0 1rem;
}

.player-card {
    width: 100%;
    padding: 0;
}

@media (min-width: 1200px) {
    .player-card {
        width: 10rem;
        padding: 0;
        position: relative;
        top: 19.2rem;
    }
}

.player-score {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.player1-icon {
    position: relative;
    left: -50%;
    top: 1rem;
}

.player2-icon {
    position: relative;
    right: -50%;
    top: 1rem;
}

.player-heading {
    margin: 1rem 0 0 0;
}

.container {
    height: 0px;
}

.board-section {
    margin-top: 2.5rem;
}

@media (max-width: 575.98px) {
    .board-background-large {
        display: none;
    }
}

@media (min-width: 576px) {
    .board-background-small {
        display: none;
    }
}

.board-background-small,
.board-background-large {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.bbs-w,
.bbl-w {
    z-index: 50;
}

.bbs-b,
.bbl-b {
    z-index: 0;
}

.counter-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 5px;
    height: 280px;
    width: 326px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 2px;
}

@media (min-width: 576px) {
    .counter-grid {
        /* height: 552px;
        width: 617px;
        top: 15px;
        left: 50.7%; */
        height: 530px;
        width: 615px;
        top: 1rem;
        margin-left: 10px;
    }

    .game-section {
        padding: 0;
    }
}

.counter:hover {
    cursor: pointer;
}

/* .timer-modal {
    display: none;
} */

.timer-section {
    background-color: var(--dark-purple-color);
    height: 20rem;
    position: relative;
    top: 0.8rem;
    border-radius: 4rem 4rem 0 0;
}

@media (min-width: 576px) {

    .timer-section {
        top: 0;
    }
}

.turn-bg {
    position: relative;
    z-index: 60;
    left: 50%;
    transform: translateX(-50%);
}

.turn-fg {
    position: absolute;
    z-index: 70;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    color: white;
}

.timer {
    margin: 5px 0 0 0;
    text-transform: lowercase;
}

.win-modal {
    width: 17rem;
    z-index: 55;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    text-align: center;

    display: none;
}

.wins-heading {
    margin: 0;
}